.around {
  padding: 10px;
}

.mail {
  margin-left: 12.7rem;
  background-color: white;
}

.mail li {
  text-decoration: none;
}

.email-list {
  list-style-type: none;
  padding: 0px;
}

.checkbox {
  width: 5%;
  margin-left: 25px;
}

.individual_email {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centering items vertically */
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  justify-content: space-between; /* Spacing out the content */
}

.blueDot {
  content: '';
  height: 10px;
  width: 10px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.individual_email:hover {
  animation: zoomIn 0.3s ease forwards;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

.email-content {
  display: flex;
  flex-direction: column;
  margin-left:20px;
  flex-grow: 1;
}

.email-content span {
  display: flex;
  justify-content: center;
}

.deleteEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteEmail svg {
  width: 24px;
  height: 24px;
  color: black;
}
